{% extends '::base.html.twig' %}

{% block body -%}
    <h2 class="clr-6 p4">Insumo</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.Codigo }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.Nombre }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.Cantidad }}</td>
            </tr>
            <tr>
                <th>Cantidaddisponible</th>
                <td>{{ entity.CantidadDisponible }}</td>
            </tr>
            <tr>
                <th>Retornable</th>
                <td>{{ entity.Retornable ? 'Sí' : 'No' }}</td>
            </tr>
            <tr>
                <th>Fuente</th>
                <td>{{ entity.Fuente }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ entity.Categorium }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('insumo') }}" class="link-2">
            Regresar a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('insumo_edit', { 'id': entity.id }) }}" class="btns pad-2">
            Editar
        </a>
    </li>
</ul>
{% endblock %}
