{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Alumno</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.Nombre }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ entity.FechaNacimiento|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Diagnostico</th>
                <td>{{ entity.Diagnostico }}</td>
            </tr>
            <tr>
                <th>Observaciones</th>
                <td>{{ entity.Observaciones }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumno') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('alumno_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
